<!-- Contact page -->
<div id="contact">
	<h2>contact</h2>
	<div id="icons">
		<p>Different ways to get in touch with me...</p>
		<a href="http://www.facebook.com/sangouk" target="_blank">
			<img id="fb" src="img/fb.png" alt="Go to my Facebook page" width="60" height="60" border="0" >
		</a>
		<a href="https://www.instagram.com/sangoukim/" target="_blank">
			<img src="img/instagram.png" alt="Go to my Instagram page" width="63" height="63" border="0" >
		</a>
		<a href="https://www.linkedin.com/profile/view?id=AAkAABoJ4ywBNOK_EqIDFqf1V-sccql-WlUCgXw&authType=NAME_SEARCH&authToken=n6pK&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A436855596%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1448243331686%2Ctas%3Asang%20ouk" target="_blank">
			<img src="img/linkedin.png" alt="Go to my Linkedin page" width="60" height="60" border="0" >
		</a>
	</div>
</div>